################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/bin
/*/obj
/GolemClientMockAPI/Properties/PublishProfiles
nng.NETCore/runtimes/any/lib/netstandard2.0/*.*
